<form id="formRegistarDatosMesa" >
      
            <select id="selectCiudades"> 
                <option> Lima </option>
                <option> Arequipa </option>
                <option> Puno </option>
                <option> Piura </option>
            </select>
            
            <select id="selectDistritos"> </select>
            
            <input type="text" placeholder="Local de Votación">
            <input type="text" placeholder="Código de Mesa">
            
            <select id="selectPartidosPoliticos">
                <option> PPK </option>
                <option> Keiko </option>
                <option> Julio Guzman </option>
                <option> Cesar Acuña </option>
            </select>

            <input type="submit" value="Registrar">
      
</form>



<script>
   $('#formRegistarDatosMesa').submit(function() {
        var mesasRegistradas=$("#mesas");
        mesasRegistradas.text(parseInt(mesasRegistradas.text())+1);
        navigator.app.backHistory();
        //$.mobile.changePage("#seleccionarPartidoPolitico");
	return false;
});

$('#selectCiudades').change(function (){
    eliminarDistritos();
    rellenarDistritos();
});

function rellenarDistritos(){
    var slctDistritos=$("#selectDistritos");
    var jsonCadena='{"distritos":["San Borja","San Isidro","Brena"]}';
    var lstDistrito= JSON.parse(jsonCadena)["distritos"];
    
    lstDistrito.forEach(function (value){
         slctDistritos.append('<option>'+value+'</option>');
     });
}

function eliminarDistritos(){
    //$("#selectDistritos").val(undefined);
    $("#selectDistritos").empty();
}
</script>