<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawCharts);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawCharts() {
          drawPieChart();
          drawBarChart();
      }
      
      function drawBarChart(){
            // Create the data table.
            var data = google.visualization.arrayToDataTable([
            ['Genre', 'Fantasy & Sci Fi', 'Romance', 'Mystery/Crime', 'General',
             'Western', 'Literature', { role: 'annotation' } ],
            ['2010', 10, 24, 20, 32, 18, 5, ''],
            ['2020', 16, 22, 23, 30, 16, 9, ''],
            ['2030', 28, 19, 29, 30, 12, 13, '']
          ]);

          var options = {
              legend: { maxLines: 3,position: 'none' },
                bar: { groupWidth: '75%' },
            isStacked: true
          };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.BarChart(document.getElementById('chart_div_bar'));
            chart.draw(data, options);
      }
      
      function drawPieChart(){
            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([
              ['Mushrooms', 3],
              ['Onions', 1],
              ['Olives', 1],
              ['Zucchini', 1],
              ['Pepperoni', 2]
            ]);

            // Set chart options
            var options = {title:'How Much Pizza I Ate Last Night',
                            legend: { position: 'bottom',alignment:"center",maxLines:10 }
                           };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div_pie'));
            chart.draw(data, options);
      }
    </script>
    
<div id="chart_div_pie"></div>
<div id="chart_div_bar"></div>
