<div  style="text-align: center; ">
    <h2> <span style="color:  #5c462f;">Bienvenido</span> a la </br>aplicación </h2>
    <p id="mesas">0</p>
    <button id="botonRegistro" style="height: 100px;" class="ui-btn ui-shadow ui-corner-all ui-btn-icon-right ui-icon-myicon custom-btn">Registrar </br> Mesa</button>
    <button id="botonEstadisticas" style="display: none;">Mostrar Estadisticas</button>
</div>
<script>
    $("#botonRegistro").click(function (){
        alert("Cambio Mesa");
});
</script>